body {
    background-color: rgb(255, 255, 255);
}



* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}

header {
    background-color: rgb(237, 237, 237);
    height: 100% px;
    width: 100%;
    padding: 0px;
    display: inline-flex;

}

.extraicoontjes {
    color: rgb(0, 0, 0);
    text-align: right;
    width: 500px;
    right: 10px;
    position: absolute;
    padding-top: 8px;
    display: inline-block;
}

.top {
    height: 100%px;
    width: 100%px;
}

nav {
    display: inline;
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 35px;
    width: 100%;
    background-color: rgb(186, 186, 182);
}

.navi ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.navi li:not(:last-child) {
    margin-right: 20px;
}

.navi a {
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
}

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
}

nav li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5%;
    font-variant: small-caps;
}

.schoen {
    padding-top: 15px;
}

.logo {
    height: 50px;
    width: 50px;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;

}

video {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


.flex-item {
    flex: 1;
    padding: 1%;
    align-self: center;
    align-items: center;
    padding-left: 4%;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

figure {
    position: relative;
    padding-top: 120px;
    
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}

.bgd-joinus {
    background-image: url("img/officiële-nike-website.jfif");
    background-size: cover;
    background-position: right;
    width: 100%;
}